* body {
  width: 99%;
} 

.sidebar {
  margin-top: 68px;
  min-height: 100vh;
}

.isi_sidebar {
  margin-left: 10px;
}

.nav-link:hover {
  background-color: grey;
}

.display-4 {
  font-weight: bold;
}

.logo-user {
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 10px;
}

/* cardnya */
.card {
  margin-left: 50px;
}
/* icon yang ada di card */
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: 18px;
  right: 20px;
  opacity: 0.4;
  font-size: 90px;
}

/* link yang ada di card */
.card-link {
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}

.pull-right-container {
  position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}

.pull-right-container > .fa-angle-left {
  width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px
}

.fa.pull-right {
  margin-left: 0.3em;
}

.bi-chevron-left {
  color: white;
}

th {
  font-size: small;
  text-align: center;
}

td {
  font-size: small;
}